{
  "presets": ["stage-2",
    "react-native-stage-0/decorator-support", "babel-preset-expo", "react-native"],
  "env": {
    "development": {
      "plugins": ["transform-decorators-legacy", "transform-react-jsx-source"]
    }
  }
}
